.md-button{
    text-transform: capitalize !important;
}

.toolbar-buttons{
    width: 20px;
}

md-sidenav{
    width: 280px;
}

md-toolbar.left-toolbar{
    background: #156aeb;
}

md-toolbar.main-toolbar{
    /*background: #156aeb;*/
    background: #3b68f2;
}

md-icon{
    margin: 5px;
}

div#main-content{
    margin-top: 10px;
    margin-left: 20px;
}

md-input-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

md-radio-button{
    color: #9254de;
}

h3{
	color: #fff200;
}